
# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /ecommerce/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ecommerce/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# As diretrizes (linhas) entre "BEGIN Simply Static" e "END Simply Static" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<Files "C:\wamp64\www\ecommerce/wp-content/uploads\simply-static\552badda1f190fc4eb4ce1c25656cdfb-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static